@font-face{
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter-Bold.ttf) format('truetype');

}

@font-face{
    font-family: 'Inter-medium';
    src: url(../fonts/Inter-Medium.ttf) format('truetype');
  
}
  @font-face{
    font-family: 'Inter-regual';
    src: url(../fonts/Inter-Regular.ttf) format('truetype');
  
}
